<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="suite" value="suiteParameter"/>
    <test verbose="2" preserve-order="true" name="E:/homework/java/transport">
        <parameter name="x" value="20"/>
        <parameter name="y" value="20"/>
        <parameter name="z" value="20"/>
        <parameter name="w" value="20"/>
        <classes>
            <class name="tranport.computeTest">
            </class>
        </classes>
    </test>
</suite>